body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.5rem;
}

.products {
  margin: 0 auto;
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  grid-template-columns: auto auto;
}

article {
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px 5%;
}
